html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}


header {
  background: #000;
  padding: 15px 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav-center {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav button {
  background: none;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.05rem;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.2s ease;
}

nav button:hover {
  opacity: 0.6;
}

.cart-icon i {
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.cart-icon i:hover {
  transform: scale(1.2);
  opacity: 0.8;
}


main {
  flex: 1;
  padding: 0;
}

.view {
  min-height: 60vh;
  padding: 20px;
}

#home {
  padding: 0; 
}

.hero-wrapper {
  position: relative;
  width: 100%;
}

/* HERO IMAGE (FULL WIDTH) */
.hero-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* TEXT OVERLAY ON IMAGE */
.hero-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  max-width: 400px;
}





/* FOOTER */
footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 15px 20px;
  font-size: 0.95rem;
}

.about-dialog {
  width: 60%;
  max-width: 650px;
  padding: 30px;
  border: none;
  border-radius: 10px;
  background: #fff;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}

.about-dialog::backdrop {
  background: rgba(0,0,0,0.6);
  animation: fadeIn .3s ease;
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-dialog h2 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.close-x {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.close-x:hover {
  opacity: 0.5;
}

.tagline {
  font-style: italic;
  margin: 8px 0 15px;
  opacity: .7;
}

.about-dialog h3 {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.about-dialog p, 
.about-dialog li {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-bottom: 6px;
}

.about-dialog ul {
  margin: 0;
  padding-left: 20px;
}

.about-dialog a {
  color: black;
  font-weight: 500;
  word-break: break-all;
  text-decoration: underline;
}

header {
    position: fixed; 
    top: 0;        
    left: 0;        
    width: 100%;     
    z-index: 1000;  
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


main {
    padding-top: 70px;
}

footer {
    color: black;
    border-top: rgb(112, 89, 89);
    background-color: white;
}

.hidden {
  display: none;
}
